<html>
    <head>
        <title>{% block title %}Todo-List App{% endblock %}</title>
    </head>
    <body>
        <div id="content", name="content">
            <h1>Todo-List App</h1>
            <form method="POST">
                {% csrf_token %}
                <input type="search" placeholder="Add Item" aria-label="Add" name="item">
                <button type="submit">Add</button>
            </form>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>